<div class="compliment">
  <%= @compliment %>
</div>

<div class="actions">
  <a href="https://www.google.com/">Thanks! I feel better.</a>
  <a href="/compliments/random">I still feel crappy.</a>
</div>
