<div class="compliment">
  <%= @compliment.message %>
</div>

<div class="actions">
  <a href="https://www.google.com/">Thanks! I feel better.</a>
  <a href="/compliments/random">I still feel crappy.</a>
  <a href="/compliments/new">Add a compliment</a>
</div>
