log/*
tmp/*
storage/*
db/schema.rb
db/structure.sql
public/system
public/uploads
public/images
.project
.idea/
public/javascripts/all*
public/stylesheets/all*
public/stylesheets/*.css
config/database.yml
*~
*#*
.#*
.DS_Store
webrat-*.html
capybara-*.html
rerun.txt
coverage.data
coverage/*
dump_for_download.dump
.~lock.*
.*.swp
storage/*
/tags
tmtags
/app/assets/images/rgbapng
